network = "testnet"
seed_domain = "seed1.homanetwork.io"
fallback_bootstrap = []
listen = true
bootstrap = true
strict_bootstrap = false
min_pow_bits = 10
event_loop_tick_ms = 250
slot_duration_ms = 1000
max_block_transactions = 1024
max_pending_blocks = 512
# max_steps = 10
# state_directory = "state/node-1"
# producer_secret_key_hex = "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
